*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
}

h1 {
    margin-bottom: 50px;
    text-shadow: 0 0 20px #00ffcc;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border: 2px solid #00ffcc;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.cell:hover {
    background-color: rgba(0, 255, 204, 0.2);
    transform: scale(1.05);
}

#status {
    margin-top: 20px;
    font-size: 1.5em;
    text-shadow: 0 0 15px #ff00ff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #00ffcc;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 0 10px #00ffcc;
}

button:hover {
    background-color: #00cc99;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

